/*! Lightning Design System 2.20.1 */
.slds-wcag {
  --slds-g-color-palette-blue-10: #001639;
  --slds-g-color-palette-blue-15: #03234d;
  --slds-g-color-palette-blue-20: #032d60;
  --slds-g-color-palette-blue-30: #014486;
  --slds-g-color-palette-blue-40: #0b5cab;
  --slds-g-color-palette-blue-50: #0176d3;
  --slds-g-color-palette-blue-60: #1b96ff;
  --slds-g-color-palette-blue-65: #57a3fd;
  --slds-g-color-palette-blue-70: #78b0fd;
  --slds-g-color-palette-blue-80: #aacbff;
  --slds-g-color-palette-blue-90: #d8e6fe;
  --slds-g-color-palette-blue-95: #eef4ff;
  --slds-g-color-palette-cloud-blue-10: #001a28;
  --slds-g-color-palette-cloud-blue-15: #0a2636;
  --slds-g-color-palette-cloud-blue-20: #023248;
  --slds-g-color-palette-cloud-blue-30: #084968;
  --slds-g-color-palette-cloud-blue-40: #05628a;
  --slds-g-color-palette-cloud-blue-50: #107cad;
  --slds-g-color-palette-cloud-blue-60: #0d9dda;
  --slds-g-color-palette-cloud-blue-65: #08abed;
  --slds-g-color-palette-cloud-blue-70: #1ab9ff;
  --slds-g-color-palette-cloud-blue-80: #90d0fe;
  --slds-g-color-palette-cloud-blue-90: #cfe9fe;
  --slds-g-color-palette-cloud-blue-95: #eaf5fe;
  --slds-g-color-palette-green-10: #071b12;
  --slds-g-color-palette-green-15: #0c2912;
  --slds-g-color-palette-green-20: #1c3326;
  --slds-g-color-palette-green-30: #194e31;
  --slds-g-color-palette-green-40: #396547;
  --slds-g-color-palette-green-50: #2e844a;
  --slds-g-color-palette-green-60: #3ba755;
  --slds-g-color-palette-green-65: #41b658;
  --slds-g-color-palette-green-70: #45c65a;
  --slds-g-color-palette-green-80: #91db8b;
  --slds-g-color-palette-green-90: #cdefc4;
  --slds-g-color-palette-green-95: #ebf7e6;
  --slds-g-color-palette-hot-orange-10: #281202;
  --slds-g-color-palette-hot-orange-15: #421604;
  --slds-g-color-palette-hot-orange-20: #4a2413;
  --slds-g-color-palette-hot-orange-30: #7e2600;
  --slds-g-color-palette-hot-orange-40: #aa3001;
  --slds-g-color-palette-hot-orange-50: #d83a00;
  --slds-g-color-palette-hot-orange-60: #ff5d2d;
  --slds-g-color-palette-hot-orange-65: #ff784f;
  --slds-g-color-palette-hot-orange-70: #ff906e;
  --slds-g-color-palette-hot-orange-80: #feb9a5;
  --slds-g-color-palette-hot-orange-90: #ffded5;
  --slds-g-color-palette-hot-orange-95: #fef1ed;
  --slds-g-color-palette-indigo-10: #200647;
  --slds-g-color-palette-indigo-15: #1f0974;
  --slds-g-color-palette-indigo-20: #321d71;
  --slds-g-color-palette-indigo-30: #2f2cb7;
  --slds-g-color-palette-indigo-40: #3a49da;
  --slds-g-color-palette-indigo-50: #5867e8;
  --slds-g-color-palette-indigo-60: #7f8ced;
  --slds-g-color-palette-indigo-65: #8e9bef;
  --slds-g-color-palette-indigo-70: #9ea9f1;
  --slds-g-color-palette-indigo-80: #bec7f6;
  --slds-g-color-palette-indigo-90: #e0e5f8;
  --slds-g-color-palette-indigo-95: #f1f3fb;
  --slds-g-color-palette-orange-10: #201600;
  --slds-g-color-palette-orange-15: #371e03;
  --slds-g-color-palette-orange-20: #3e2b02;
  --slds-g-color-palette-orange-30: #5f3e02;
  --slds-g-color-palette-orange-40: #825101;
  --slds-g-color-palette-orange-50: #a96404;
  --slds-g-color-palette-orange-60: #dd7a01;
  --slds-g-color-palette-orange-65: #f38303;
  --slds-g-color-palette-orange-70: #fe9339;
  --slds-g-color-palette-orange-80: #ffba90;
  --slds-g-color-palette-orange-90: #fedfd0;
  --slds-g-color-palette-orange-95: #fff1ea;
  --slds-g-color-palette-pink-10: #370114;
  --slds-g-color-palette-pink-15: #4b0620;
  --slds-g-color-palette-pink-20: #61022a;
  --slds-g-color-palette-pink-30: #8a033e;
  --slds-g-color-palette-pink-40: #b60554;
  --slds-g-color-palette-pink-50: #e3066a;
  --slds-g-color-palette-pink-60: #ff538a;
  --slds-g-color-palette-pink-65: #fe7298;
  --slds-g-color-palette-pink-70: #fe8aa7;
  --slds-g-color-palette-pink-80: #fdb6c5;
  --slds-g-color-palette-pink-90: #fddde3;
  --slds-g-color-palette-pink-95: #fef0f3;
  --slds-g-color-palette-purple-10: #240643;
  --slds-g-color-palette-purple-15: #300b60;
  --slds-g-color-palette-purple-20: #401075;
  --slds-g-color-palette-purple-30: #5a1ba9;
  --slds-g-color-palette-purple-40: #7526e3;
  --slds-g-color-palette-purple-50: #9050e9;
  --slds-g-color-palette-purple-60: #ad7bee;
  --slds-g-color-palette-purple-65: #b78def;
  --slds-g-color-palette-purple-70: #c29ef1;
  --slds-g-color-palette-purple-80: #d7bff2;
  --slds-g-color-palette-purple-90: #ece1f9;
  --slds-g-color-palette-purple-95: #f6f2fb;
  --slds-g-color-palette-red-10: #300c01;
  --slds-g-color-palette-red-15: #4a0c04;
  --slds-g-color-palette-red-20: #640103;
  --slds-g-color-palette-red-30: #8e030f;
  --slds-g-color-palette-red-40: #ba0517;
  --slds-g-color-palette-red-50: #ea001e;
  --slds-g-color-palette-red-60: #fe5c4c;
  --slds-g-color-palette-red-65: #fe7765;
  --slds-g-color-palette-red-70: #fe8f7d;
  --slds-g-color-palette-red-80: #feb8ab;
  --slds-g-color-palette-red-90: #feded8;
  --slds-g-color-palette-red-95: #fef1ee;
  --slds-g-color-palette-teal-10: #071b12;
  --slds-g-color-palette-teal-15: #072825;
  --slds-g-color-palette-teal-20: #023434;
  --slds-g-color-palette-teal-30: #024d4c;
  --slds-g-color-palette-teal-40: #056764;
  --slds-g-color-palette-teal-50: #0b827c;
  --slds-g-color-palette-teal-60: #06a59a;
  --slds-g-color-palette-teal-65: #03b4a7;
  --slds-g-color-palette-teal-70: #01c3b3;
  --slds-g-color-palette-teal-80: #04e1cb;
  --slds-g-color-palette-teal-90: #acf3e4;
  --slds-g-color-palette-teal-95: #def9f3;
  --slds-g-color-palette-violet-10: #2e0039;
  --slds-g-color-palette-violet-15: #3d0157;
  --slds-g-color-palette-violet-20: #481a54;
  --slds-g-color-palette-violet-30: #730394;
  --slds-g-color-palette-violet-40: #9602c7;
  --slds-g-color-palette-violet-50: #ba01ff;
  --slds-g-color-palette-violet-60: #cb65ff;
  --slds-g-color-palette-violet-65: #d17dfe;
  --slds-g-color-palette-violet-70: #d892fe;
  --slds-g-color-palette-violet-80: #e5b9fe;
  --slds-g-color-palette-violet-90: #f2defe;
  --slds-g-color-palette-violet-95: #f9f0ff;
  --slds-g-color-palette-yellow-10: #281202;
  --slds-g-color-palette-yellow-15: #2e2204;
  --slds-g-color-palette-yellow-20: #4f2100;
  --slds-g-color-palette-yellow-30: #6f3400;
  --slds-g-color-palette-yellow-40: #8c4b02;
  --slds-g-color-palette-yellow-50: #a86403;
  --slds-g-color-palette-yellow-60: #ca8501;
  --slds-g-color-palette-yellow-65: #d79304;
  --slds-g-color-palette-yellow-70: #e4a201;
  --slds-g-color-palette-yellow-80: #fcc003;
  --slds-g-color-palette-yellow-90: #f9e3b6;
  --slds-g-color-palette-yellow-95: #fbf3e0;
  --slds-g-color-palette-neutral-10: #181818;
  --slds-g-color-palette-neutral-15: #242424;
  --slds-g-color-palette-neutral-20: #2e2e2e;
  --slds-g-color-palette-neutral-30: #444444;
  --slds-g-color-palette-neutral-40: #5c5c5c;
  --slds-g-color-palette-neutral-50: #747474;
  --slds-g-color-palette-neutral-60: #939393;
  --slds-g-color-palette-neutral-65: #a0a0a0;
  --slds-g-color-palette-neutral-70: #aeaeae;
  --slds-g-color-palette-neutral-80: #c9c9c9;
  --slds-g-color-palette-neutral-90: #e5e5e5;
  --slds-g-color-palette-neutral-95: #f3f3f3;
  --slds-g-color-palette-neutral-100: #ffffff;
}

.slds-wcag {
  --slds-g-color-neutral-base-100: #ffffff;
  --slds-g-color-neutral-base-95: #f3f3f3;
  --slds-g-color-neutral-base-90: #e5e5e5;
  --slds-g-color-neutral-base-80: #c9c9c9;
  --slds-g-color-neutral-base-70: #aeaeae;
  --slds-g-color-neutral-base-65: #a0a0a0;
  --slds-g-color-neutral-base-60: #939393;
  --slds-g-color-neutral-base-50: #747474;
  --slds-g-color-neutral-base-40: #5c5c5c;
  --slds-g-color-neutral-base-30: #444444;
  --slds-g-color-neutral-base-20: #2e2e2e;
  --slds-g-color-neutral-base-15: #242424;
  --slds-g-color-neutral-base-10: #181818;
  --slds-g-color-brand-base-100: #ffffff;
  --slds-g-color-brand-base-95: #eef4ff;
  --slds-g-color-brand-base-90: #d8e6fe;
  --slds-g-color-brand-base-80: #aacbff;
  --slds-g-color-brand-base-70: #78b0fd;
  --slds-g-color-brand-base-65: #57a3fd;
  --slds-g-color-brand-base-60: #1b96ff;
  --slds-g-color-brand-base-50: #0176d3;
  --slds-g-color-brand-base-40: #0b5cab;
  --slds-g-color-brand-base-30: #014486;
  --slds-g-color-brand-base-20: #032d60;
  --slds-g-color-brand-base-15: #03234d;
  --slds-g-color-brand-base-10: #001639;
  --slds-g-color-error-base-100: #ffffff;
  --slds-g-color-error-base-90: #feded8;
  --slds-g-color-error-base-80: #feb8ab;
  --slds-g-color-error-base-70: #fe8f7d;
  --slds-g-color-error-base-60: #fe5c4c;
  --slds-g-color-error-base-50: #ea001e;
  --slds-g-color-error-base-40: #ba0517;
  --slds-g-color-error-base-30: #8e030f;
  --slds-g-color-error-base-20: #640103;
  --slds-g-color-error-base-10: #300c01;
  --slds-g-color-warning-base-100: #ffffff;
  --slds-g-color-warning-base-90: #fedfd0;
  --slds-g-color-warning-base-80: #ffba90;
  --slds-g-color-warning-base-70: #fe9339;
  --slds-g-color-warning-base-60: #dd7a01;
  --slds-g-color-warning-base-50: #a96404;
  --slds-g-color-warning-base-40: #825101;
  --slds-g-color-warning-base-30: #5f3e02;
  --slds-g-color-warning-base-20: #3e2b02;
  --slds-g-color-warning-base-10: #201600;
  --slds-g-color-success-base-100: #ffffff;
  --slds-g-color-success-base-90: #cdefc4;
  --slds-g-color-success-base-80: #91db8b;
  --slds-g-color-success-base-70: #45c65a;
  --slds-g-color-success-base-60: #3ba755;
  --slds-g-color-success-base-50: #2e844a;
  --slds-g-color-success-base-40: #396547;
  --slds-g-color-success-base-30: #194e31;
  --slds-g-color-success-base-20: #1c3326;
  --slds-g-color-success-base-10: #071b12;
  --slds-g-color-border-base-1: #c9c9c9;
  --slds-g-color-border-base-2: #aeaeae;
  --slds-g-color-border-base-3: #939393;
  --slds-g-color-border-base-4: #747474;
  --slds-g-color-border-brand-1: #78b0fd;
  --slds-g-color-border-brand-2: #1b96ff;
  --slds-g-link-color: #0b5cab;
  --slds-g-link-color-hover: #014486;
  --slds-g-link-color-focus: #014486;
  --slds-g-link-color-active: #032d60;
}
.slds-app-launcher__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0.5rem 0;
  border: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
  border-radius: 0.25rem;
  cursor: move;
}
.slds-app-launcher__tile:hover,
.slds-app-launcher__tile:focus,
.slds-app-launcher__tile:active {
  outline: 0;
  border-color: #014486;
}
.slds-app-launcher__tile.slds-is-draggable .slds-app-launcher__tile-figure {
  padding-bottom: 0.25rem;
}
.slds-app-launcher__tile.slds-is-grabbed {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
.slds-app-launcher__tile-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0.75rem;
  color: var(--slds-g-color-neutral-base-100, white);
  border-radius: 0.25rem 0 0 0.25rem;
  text-align: center;
}
.slds-app-launcher__tile-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background: var(--slds-g-color-neutral-base-95, #f3f3f3);
  padding: 0.5rem 0.75rem;
  border-radius: 0 0.25rem 0.25rem 0;
}
